* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}
nav{
  height: 100px;
  background-color: green;
 display: flex ;
  align-items: center;
}
nav p{
  color: white;
  display: flex;
  justify-content: center;
  background-color: blue;
  height: 50px;
  width: 100px;
  border-radius: 50px;
}
body{
  background-color: greenyellow;
}
.productalgemeen{
    background: red;
}